.footer {
    background-color: #333333; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    width: 100%; /* Asegura que ocupe todo el ancho */
}
.mb-4 {
    margin-bottom: 0rem !important;
}
.footer .logo-footer {
    height: 80%;
    width: 80%;
}

.footer h5 {
    color: #EF625F; /* Color principal para títulos */
    font-weight: bold;
    margin-bottom: 1px; /* Reduce el espacio inferior de los títulos */
}

.footer a { /* Color principal para enlaces */
    transition: color 0.3s ease;
}

.footer hr {
    border: none; /* Elimina el borde original */
    height: 10px; /* Ajusta el grosor de la línea */
    background: linear-gradient(to right, 
        #A63A8D 25%,  /* Púrpura hasta el 25% */
        #3994C7 25%, #3994C7 50%,  /* Azul del 25% al 50% */
        #62B4B2 50%  /* Verde del 50% al 100% */
    );
    margin-top: 0;
    margin-bottom: 0;
}


.footer .text-center p {
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .footer .text-md-start {
        text-align: center !important;
    }

    .footer .text-md-end {
        text-align: center !important;
    }
}

.text-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 4px;
}

.text-link:hover {
    color: #3994C7; /* Cambia el color en hover */
    transform: scale(1.2); /* Agranda y rota ligeramente el elemento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para dar un efecto de elevación */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    letter-spacing: 1px; /* Aumenta el espaciado entre letras */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}

.footer .social-icon {
    color: white;
    font-size: 24px; /* Tamaño del ícono */
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
}

.footer .social-icon:hover {
    color: #3994C7; /* Cambia el color en hover */
    transform: scale(1.2); /* Agranda y rota ligeramente el elemento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para dar un efecto de elevación */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    letter-spacing: 1px; /* Aumenta el espaciado entre letras */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}

.footer .social-icon img {
    transition: transform 0.3s ease;
    width: 18px;
    height: 18px;
}

.footer .social-icon img:hover {
    transform: scale(1.2); /* Agranda el ícono de la imagen ligeramente */
}

