
/* Estilo general del carrusel */
.carousel-item img {
    height: max-content;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05);
    /* Efecto de zoom suave al pasar el mouse */
}

/* Fondo degradado para la leyenda */
.carousel-caption {
    background: linear-gradient(to bottom, rgba(239, 98, 95, 1), rgba(0, 0, 0, 0.3));
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
    animation: fadeIn 0.2s ease-in-out;
}

/* Transición para el texto */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo del texto */
.carousel-caption h5 {
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
}

/* Botones modernos */
.carousel-caption .btn {
    background-color: #EF625F;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.carousel-caption .btn:hover {
    background-color: #EF625F;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

/* Adaptabilidad */
@media (max-width: 768px) {
    .carousel-item img {
        height: max-content;
    }
    .carousel-caption {
        background: linear-gradient(to bottom, rgba(239, 98, 95, 1), rgba(0, 0, 0, 0.3)); /* Fondo más oscuro para mejor legibilidad */
        padding: 0.2rem;
        max-width: 90%; /* Reduce el ancho máximo del caption */
    }

    .carousel-caption h5 {
        font-size: 1rem; /* Reduce el tamaño del texto */
        line-height: 1.4; /* Mejora el espaciado */
    }

    .carousel-caption .btn {
        padding: 0.2rem 0.5rem; /* Botón más compacto */
        font-size: 0.875rem;
    }
}
/******** Estilo de las tarjetas Servicios ********/

.container-fluid .d-flex {
    gap: 15px;
    /* Espaciado entre tarjetas */
}

.container-fluid .overflow-auto {
    white-space: nowrap;
    /* Asegura que los elementos se mantengan en una fila */
    overflow-x: scroll;
    /* Habilita el desplazamiento horizontal */
    -ms-overflow-style: none;
    /* Para Internet Explorer 10+ */
    scrollbar-width: none;
}

.container-fluid .overflow-auto::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento en Webkit (Chrome, Safari) */
}

.container-fluid .me-3 {
    display: inline-block;
    /* Asegura que cada tarjeta esté alineada horizontalmente */
}
/******** Video *********/
.video-section {
    text-align: center;
    padding: 3rem 0;
}

h1:hover {
    color: #EF625F;
    transition: all 0.3s ease-in-out;
    transform: perspective(1px) translateZ(0);
}

.lead {
    font-size: 24px;
    margin-bottom: 2rem;
}

.lead:hover {
    color: #EF625F;
    transition: all 0.3s ease-in-out;
}

.video-container {
    width: 70%; /* El video ocupa el 80% del contenedor en pantallas grandes */
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Video responsivo */
.video-iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto del video */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Ajustes para pantallas medianas */
@media (max-width: 1200px) {
    .video-container {
        width: 90%;
    }
}

/* Ajustes para tablets */
@media (max-width: 768px) {
    .video-container {
        width: 95%;
    }
}

/* Ajustes para móviles */
@media (max-width: 480px) {
    .video-container {
        width: 100%;
        padding: 0 1rem;
    }
}


/******** Estilo de las tarjetas Servicios *********/
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.tarjeta-contenedor {
    display: flex;
    align-items: stretch;
}

.tarjeta-servicio {
    height: 450px;
    width: 600px; /* Ancho definido */
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(-5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tarjeta-servicio:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.servicios-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.tarjeta-texto {
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(239, 98, 95, 1), rgba(0, 0, 0, 0.3));
    color: white;
    padding: 10px 10px;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tarjeta-texto h4 {
    color: white;
    text-align: center;
}

.tarjeta-texto:hover {
    background: rgba(0, 0, 0, 0.7);
}

.boton-mas {
    margin-top: 10px;
    display: inline-block;
    z-index: 3;
    background-color: #EF625F;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.boton-mas:hover {
    font-size: large;
}

/* Responsividad */
@media (min-width: 576px) {
    .tarjeta-contenedor {
        max-width: 48%;
    }
}

@media (min-width: 1200px) {
    .tarjeta-contenedor {
        max-width: 50%;
    }
}

/******* Tarjetas 2 ******/
.card {
    border: none;
    border-radius: 0;
    align-items: center;
    justify-content: center;
}
.lab-card {
    position: relative;
    overflow: hidden;
    transition: transform 1s ease, box-shadow 1s ease;
    box-shadow: none; /* Se elimina la sombra para un diseño más limpio */
    margin: 0; /* Elimina márgenes internos */
}

/* Elimina el borde redondeado */
.card-image {
    width: 100%;
    height: 300px; /* Ajusta la altura para hacerlo más compacto */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, filter 0.3s ease;
    border: none;
}

/* Elimina el espacio entre tarjetas */
.row.g-0 {
    margin: 0;
}
.mb-3:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenido superpuesto */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro para mayor contraste */
    color: white;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px); /* Inicia ligeramente desplazado hacia abajo */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Agrega algo de espacio alrededor del texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.lab-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0); /* Se mueve a su posición original al hacer hover */
}

/* Mejora de estilo para el texto */
.card-title {
    font-size: 20px; /* Texto más grande para mayor legibilidad */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra para destacar el texto */
    margin-bottom: 12px;
    transition: transform 2s ease, color 1s ease; /* Suaviza cambios en hover */
    line-height: 1.4; /* Mejora el espaciado */
}

.card-overlay .btn {
    background-color: #A63A8D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    transition: background-color 2s ease, transform 1s ease, box-shadow 0.3s ease;
}

.card-overlay .btn:hover {
    background-color: #2d82aa;
    transform: scale(1.1); /* Amplía ligeramente el botón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Responsividad */
@media (max-width: 768px) {
    .card-image {
        height: 150px; /* Reduce la altura de las tarjetas en pantallas pequeñas */
    }
}
