<!-- carrusel pricipal -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button *ngFor="let slide of slides; let i = index" type="button" data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-current="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
            <img [src]="slide.image" class="d-block w-100" alt="Imagen del carrusel" />
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ slide.text }}</h5>
                <a [routerLink]="slide.route" class="btn btn-primary">{{ slide.buttonText }}</a>
            </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
<!-- reseñas -->
<div class="container-fluid py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-5 mb-5">Nuestros Servicios</h1>
    </div>
    <div class="d-flex flex-row overflow-auto">
        <div *ngFor="let item of items" class="me-3" style="flex: 0 0 auto;">
            <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
                <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.description"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
                <img [alt]="item.title" [src]="item.image" />
            </ng-template>
        </div>
    </div>
</div>
<!-- tarjetas -->
<div class="container-fluid py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-5 mb-5">Nuestro Ecosistema</h1>
    </div>
    <div class="service-img-bg" style="background-image: url('https://i.postimg.cc/rFCrGpKR/coopsisa-Logo.png');">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" *ngFor="let tarjeta of tarjetas" data-wow-delay="0.3s" 
                        style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.3s; height: 400px;"
                        >
                        <div class="service-item rounded d-flex h-100" [class]="tarjeta.imagen ? 'bg-img' : ''"
                            [style.backgroundImage]="'url(' + tarjeta.imagen + ')'">
                            <div class="service-text rounded p-4">
                                <h4 class="mb-3">{{ tarjeta.titulo }}</h4>
                                <a class="btn btn-sm saber-mas-btn" [href]="tarjeta.link">
                                    <nz-icon [nzType]="'plus'" style="font-size: 18px;"></nz-icon> Saber Más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>