<nz-spin nzTip="Obteniendo datos..." [nzSpinning]="isLoading" nzSize="large">
    <!-- carrusel pricipal -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicadores -->
        <div class="carousel-indicators">
            <button *ngFor="let slide of slides; let i = index" type="button"
                data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                aria-current="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
        </div>

        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
                <img [src]="slide.image" class="d-block w-100" alt="Imagen del carrusel" />
                <div class="carousel-caption d-block d-md-block">
                    <h5>{{ slide.text }}</h5>
                
                    <!-- Si es una ruta interna, usa RouterLink -->
                    <a *ngIf="isInternalRoute(slide.route)" [routerLink]="slide.route" class="btn btn-primary">
                        {{ slide.buttonText }}
                    </a>
                
                    <!-- Si es una URL externa, usa href con target _blank -->
                    <a *ngIf="!isInternalRoute(slide.route)" [href]="slide.route" class="btn btn-primary" target="_blank">
                        {{ slide.buttonText }}
                    </a>
                </div>
            </div>
        </div>

        <!-- Controles -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <!-- reseñas -->
    <div class="container-fluid py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-4 mb-4">
                {{ currentLanguage === 'es' ? 'Servicios' : 'Services' }}
            </h1>
        </div>
        <div class="servicios-bg">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch tarjeta-contenedor"
                        *ngFor="let tarjeta of tarjetas" data-wow-delay="0.3s">
                        <div class="tarjeta-servicio" [style.backgroundImage]="'url(' + tarjeta.imagen + ')'">
                            <div class="tarjeta-texto">
                                <h4 class="mb-3">{{ tarjeta.titulo }}</h4>
                                <a class="btn btn-sm boton-mas" [routerLink]="tarjeta.ruta">
                                    <nz-icon [nzType]="'plus'" style="font-size: 18px;"></nz-icon> Saber Más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sección de Noticias con Video Prominente -->
    <div class="container-fluid video-section">
        <div class="text-center mx-auto wow fadeInUp" *ngFor="let video of videos" data-wow-delay="0.1s">
            <h1 class="display-4 mb-4">
                {{ currentLanguage === 'es' ? 'Últimas Noticias' : 'Latest News' }}
            </h1>
            <p class="lead">{{ video.description}}</p>
        </div>

        <div class="video-container" *ngFor="let video of videos">
            <!-- Video -->
            <iframe class="video-iframe" [src]="safeVideoUrl(video.url)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <!-- tarjetas -->
    <div class="container-fluid py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-4 mb-4">
                {{ currentLanguage === 'es' ? 'Nuestro Ecosistema' : 'Our Ecosystem' }}
            </h1>
        </div>
        <div class="scroll-wrapper">
            <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
            <div class="d-flex flex-row overflow-auto" #scrollContainer>
                <div *ngFor="let item of ecosystemItems" class="me-3" style="flex: 0 0 auto;" (click)="irEcosoistema()">
                    <nz-card nzHoverable style="width: 200px" [nzCover]="coverTemplate"></nz-card>
                    <ng-template #coverTemplate>
                        <img [alt]="item.title" [src]="item.image" />
                    </ng-template>
                </div>
            </div>
            <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
        </div>
    </div>
</nz-spin>