.quienes-somos {
    padding: 20px;
}

/* Estilos para las tarjetas */
.card-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 20px;
}

.card-container.reverse {
    flex-direction: row-reverse;
}

/* Ajustes para el texto */
.card-texto {
    flex: 1;
    padding: 5px;
    /* Más espacio en el contenido */
    border-radius: 8px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    font-size: 18px;
    font-weight: lighter;
}

/* Ajustes para la imagen */
.card-image {
    flex: 1.2;
    /* La imagen ocupa más espacio */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image img:hover {
    transform: scale(1.1);
    /* Hace la imagen un 10% más grande */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
}

/* Títulos personalizados */
.custom-title {
    font-size: 24px;
    margin-bottom: 5px;
    color: #EF625F;
    font-weight: lighter;
}

.card-item:hover .custom-title {
    color: black;
}

/* Aplicar colores de hover alternando en cada tarjeta */
.card-item:nth-of-type(1):hover .tarjetas1-content {
    background-color: #f49f599c;
    font-size: 18px;
}

.card-item:nth-of-type(2):hover .tarjetas1-content {
    background-color: #e9337074;
    font-size: 18px;
}

.card-item:nth-of-type(3):hover .tarjetas1-content {
    background-color: #a63a8d94;
    font-size: 18px;
}

.card-item:nth-of-type(4):hover .tarjetas1-content {
    background-color: #7969a894;
    font-size: 18px;
}

.card-item:nth-of-type(5):hover .tarjetas1-content {
    background-color: #3993c781;
    font-size: 18px;
}

.card-item:nth-of-type(6):hover .tarjetas1-content {
    background-color: #62b4b395;
    font-size: 18px;
}

.card-item:nth-of-type(7):hover .tarjetas1-content {
    background-color: #c5bb6397;
    font-size: 18px;
}

.card-item:nth-of-type(8):hover .tarjetas1-content {
    background-color: #ef615f98;
    font-size: 18px;
}

/* Si hay más de 8 elementos, repetir el patrón */
.card-item:nth-of-type(9):hover .tarjetas1-content {
    background-color: #f49f599c;
    font-size: 18px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        text-align: center;
    }

    .card-item:nth-of-type(1) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(2) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(3) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(4) .tarjetas1-content {
        width: 100%;
    }

    .card-container.reverse {
        flex-direction: column;
    }

    .card-texto {
        width: 100%;
        /* Ocupar todo el ancho */
        padding: 20px;
    }

    .card-image {
        width: 100%;
        justify-content: center;
    }

    .card-image img {
        max-width: 100%;
        /* Imagen ocupa todo el ancho disponible */
        width: 100%;
    }
}

/* Contenedor general de la línea de tiempo */
.timeline-container {
    overflow-x: scroll;
    /* Habilitar scroll horizontal */
    white-space: nowrap;
    /* Asegurar que los elementos no se rompan a la siguiente línea */
    padding: 20px 0;
    display: flex;
    /* Usar flex para permitir alineación horizontal */
    scrollbar-width: none;
}


/* Elementos de la línea de tiempo */
.timeline-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 200px;
    /* Fijar un ancho consistente */
    white-space: normal;
    /* Permitir que el texto haga wrap */
    margin-right: 50px;
    /* Espacio entre elementos */
}

.timeline-item::after {
    content: '';
    position: absolute;
    height: 2px;
    /* Línea horizontal */
    width: 25%;
    background: linear-gradient(90deg,
            rgba(166, 58, 141, 1) 0%,
            /* Púrpura */
            rgba(166, 58, 141, 0.8) 25%,
            rgba(57, 148, 199, 1) 50%,
            /* Azul */
            rgba(57, 148, 199, 0.8) 75%,
            rgba(98, 180, 178, 1) 100%
            /* Verde */
        );
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    animation: gradient-move 5s linear infinite;
    /* Agrega una animación opcional */
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.timeline-item:last-child::after {
    display: none;
    /* Ocultar la línea en el último ítem */
}

/* Contenido de los ítems de la línea de tiempo */
.timeline-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 200px;
    /* Fijar un ancho para el contenido */
    height: 240px;
    /* Fijar una altura para el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

/* Estilo de los años y descripción */
.timeline-item strong {
    font-size: 18px;
    margin-bottom: 5px;
    color: #EF625F;
    font-weight: bolder;
}

.timeline-item:hover strong {
    color: black;
}

/* Efecto hover para el contenido de la línea de tiempo */
.timeline-content:hover {
    transform: scale(1.05);
    /* Ligero aumento para resaltar */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Alternar colores de hover para cada tarjeta usando nth-of-type */
.timeline-item:nth-of-type(1):hover .timeline-content {
    background-color: #f49f599c;
    /* Color primary */
    font-size: 15px;
}

.timeline-item:nth-of-type(2):hover .timeline-content {
    background-color: #e93370a7;
    /* Color secondary */
    font-size: 15px;
}

.timeline-item:nth-of-type(3):hover .timeline-content {
    background-color: #a63a8d94;
    /* Color tertiary */
    font-size: 15px;
}

.timeline-item:nth-of-type(4):hover .timeline-content {
    background-color: #7969a894;
    /* Color quaternary */
    font-size: 15px;
}

.timeline-item:nth-of-type(5):hover .timeline-content {
    background-color: #3993c781;
    /* Color primary-light */
    font-size: 15px;
}

.timeline-item:nth-of-type(6):hover .timeline-content {
    background-color: #62b4b395;
    /* Color accent */
    font-size: 15px;
}

.timeline-item:nth-of-type(7):hover .timeline-content {
    background-color: #c5bb6397;
    /* Color highlight */
    font-size: 15px;
}

.timeline-item:nth-of-type(8):hover .timeline-content {
    background-color: #ef615f98;
    /* Color alert */
    font-size: 15px;
}

/* Si hay más de 8 elementos, repetir el patrón */
.timeline-item:nth-of-type(9):hover .timeline-content {
    background-color: #f49f599c;
    color: black;
}


/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {

    .nz-card-title {
        font-size: 20px;
        /* Título más pequeño en pantallas pequeñas */
    }

    .timeline-content {
        width: 180px;
        /* Reducir ancho en pantallas pequeñas */
        height: 240px;
        /* Reducir altura en pantallas pequeñas */
        font-size: 14px;
        /* Texto más pequeño para ajustar en pantallas pequeñas */
    }

}

/******* Estilo general del carrusel ******/
.carousel-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* O puedes ajustarlo a un valor específico */
}
.carousel-item img {
    width: 100%;
    height: 500px; /* Establece una altura fija que se ajuste a una relación más cuadrada */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

.carousel-item img:hover {
    transform: scale(1.03);
    /* Zoom más sutil */
}

/* Fondo degradado más oscuro para mejor legibilidad */
.carousel-caption {
    background: linear-gradient(to bottom, rgba(121, 105, 168, 0.957), rgba(0, 0, 0, 0.3));
    padding: 1.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 70%;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 1.5rem;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Texto del caption más grande y llamativo */
/* Personalización de los indicadores */
.carousel-indicators {
    position: absolute;
    bottom: -25px;
    /* Bajamos un poco los indicadores */
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espaciado entre los indicadores */
}

/* Estilo de cada botón indicador */
.carousel-indicators button {
    width: 40px;
    /* Hacemos los indicadores más alargados */
    height: 8px;
    /* Grosor de los indicadores */
    background-color: rgba(255, 255, 255, 0.5);
    /* Color semi-transparente */
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Cuando el indicador está activo */
.carousel-indicators .active {
    background-color: #7969A8;
    /* Color destacado */
    width: 50px;
    /* Indicador activo más grande */
    height: 10px;
    box-shadow: 0px 0px 10px rgba(121, 105, 168, 0.957);
}

/* Efecto hover */
.carousel-indicators button:hover {
    background-color: #fff;
    transform: scale(1.2);
}

/* Responsividad */
@media (max-width: 768px) {
    .carousel-indicators button {
        width: 30px;
        height: 6px;
    }

    .carousel-indicators .active {
        width: 35px;
        height: 8px;
    }
}


/* ************* Organización  ************* */

.directory-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    width: 240px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    text-align: justify;
}

.card-content {
    display: flex;
    justify-content: space-between;
    /* Espacia el texto y el ícono */
    align-items: center;
    /* Alinea verticalmente al centro */
    padding: 8px;
}

.text {
    margin: 0;
    /* Elimina márgenes extra del texto */
    flex: 1;
    /* Asegura que el texto ocupe el espacio restante */
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.icon {
    margin-left: 8px;
    /* Opcional: Espaciado entre el texto y el ícono */
}

.card:hover {
    transform: translateY(-5px);
}

.card .icon i {
    font-size: 40px;
    color: #7969A8;
    /* Cambia este color según el diseño */
}

.card .icon i:hover {
    color: white !important;
}

.center {
    text-align: center;
}

.logo {
    width: 100%;
    /* Asegura que la imagen ocupe el 100% del contenedor */
    max-width: 400px;
    /* Limita el tamaño máximo de la imagen */
    margin-bottom: 1rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .directory-container {
        flex-direction: column;
        gap: 1rem;
        /* Reduce el espacio entre las tarjetas y la imagen */
        padding: 1rem;
    }

    .column {
        align-items: center;
        /* Centra las tarjetas en pantallas pequeñas */
    }

    .card {
        width: 90%;
        /* Reduce el ancho de las tarjetas */
        margin: 0 auto;
        /* Centra las tarjetas */
    }

    .logo {
        width: 80%;
        /* Ajusta el tamaño de la imagen */
        max-width: 150px;
        /* Limita el tamaño máximo */
    }
}

/* Media Queries para pantallas muy pequeñas (por ejemplo, móviles) */
@media (max-width: 480px) {
    .directory-container {
        gap: 0.5rem;
        /* Reduce aún más el espacio entre los elementos */
    }

    .card {
        width: 100%;
        /* Las tarjetas ocupan todo el ancho disponible */
    }

    .logo {
        width: 70%;
        /* Ajusta aún más el tamaño de la imagen */
        max-width: 120px;
        /* Limita el tamaño máximo */
    }
}

/* Estilo de la columna central */
.center {
    position: relative;
    z-index: 1;
    /* Asegura que la imagen esté encima de la línea */
}

/* Estilo hover para las tarjetas usando nth-of-type */
.card:nth-of-type(1):hover {
    background-color: #f49f599c;
    /* Color primary */
    color: black;
}

.card:nth-of-type(2):hover {
    background-color: #e93370a7;
    /* Color secondary */
    color: black;
}

.card:nth-of-type(3):hover {
    background-color: #a63a8d94;
    /* Color tertiary */
    color: #fff;
}

.card:nth-of-type(4):hover {
    background-color: #7969a894;
    /* Color quaternary */
    color: black;
}

.card:nth-of-type(5):hover {
    background-color: #3993c781;
    /* Color primary-light */
    color: #fff;
}

.card:nth-of-type(6):hover {
    background-color: #62b4b395;
    /* Color accent */
    color: #fff;
}

.card:nth-of-type(7):hover {
    background-color: #c5bb6397;
    /* Color highlight */
    color: #fff;
}

.card:nth-of-type(8):hover {
    background-color: #ef615f98;
    /* Color alert */
    color: #fff;
}

/* Si hay más de 8 elementos, repetir el patrón */
.card:nth-of-type(9):hover {
    background-color: #f49f599c;
    color: #fff;
}



/******* Equipo  ********/

.equipo {
    padding: 10px 25px;
    text-align: center;
    max-height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
}

.equipo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* Permite que el contenido determine la altura */
    background: none;
    /* Sin fondo */
    box-shadow: none;
    /* Sin sombra */
    border: none;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.foto-circular {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-circular:hover {
    transform: scale(1.1);
    /* Agrandar ligeramente la imagen */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
}

.info-container {
    transition: color 0.3s ease;
}

.info-container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
}

.info-container p {
    font-size: 14px;
    color: #666;
    margin: 0;
    padding: 0;
}

.info-container p:hover,
.info-container h3:hover {
    color: white
}

.info-container:hover {
    transition: color 0.3s ease;
    background: #EF625F;
    padding: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .equipo {
        padding: 10px 1px;
        text-align: center;
        max-height: 400px;
        overflow-y: auto;
    }

    .foto-circular {
        width: 150px;
        height: 150px;
    }

    .info-container h3 {
        font-size: 16px;
    }

    .info-container p {
        font-size: 12px;
    }

    .foto-container {
        padding: 5px;
    }
}

/* ******* Transparencia y Resultados  ******** */
.transparencia-resultados {
    padding: 20px;
}

.ant-checkbox-group,
.ant-collapse {
    font-size: 18px;
}

.custom-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sección individual */
.section-container {
    margin-bottom: 20px;
    padding: 10px;
}

/* Títulos de cada sección */
.section-title {
    font-size: 22px;
    color: #444;
    margin-bottom: 5px;
    padding: 10px;
}

/* Descripción */
.section-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    padding: 20px;
}

/* Panel de colapso con efectos */
.custom-collapse-panel {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.custom-collapse-panel:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Iframe de los reportes */
.fp-iframe {
    width: 100%;
    height: 550px;
    border: 1px solid lightgray;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.fp-iframe:hover {
    transform: scale(1.02);
}

/* Hover personalizado para cada colapso */
.hover-effect {
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.hover-1:hover {
    background-color: #f49f599c;
}

.hover-2:hover {
    background-color: #e93370a7;
}

.hover-3:hover {
    background-color: #a63a8d94;
}

.hover-4:hover {
    background-color: #7969a894;
}

.hover-5:hover {
    background-color: #3993c781;
}

.hover-6:hover {
    background-color: #62b4b395;
}

.hover-7:hover {
    background-color: #c5bb6397;
}

.hover-8:hover {
    background-color: #ef615f98;
}

/* Si hay más de 8 elementos, repetir el patrón */
.hover-9:hover {
    background-color: #f49f599c;
}