<div class="quienes-somos">
    <div *ngFor="let card of cards; let i = index" class="card-container card-item"
        [ngClass]="{ 'reverse': i % 2 !== 0 }">
        <nz-card class="card-texto tarjetas1-content">
            <h2 class="custom-title">{{ card.title }}</h2>
            <hr>
            <p>{{ card.text }}</p>
            <ul *ngIf="card.subItems && card.subItems.length > 0">
            </ul>
        </nz-card>

        <div class="card-image">
            <img [src]="card.image" alt="{{ card.title }}">
        </div>
    </div>

    <nz-card [nzBordered]="true" style="margin-bottom: 16px; ">
        <h2 class="custom-title">Nuestra evolución como COOPSISA </h2>
        <hr>
        <div nz-flex class="timeline-container">
            <div *ngFor="let event of timelineEvents" class="timeline-item">
                <div class="timeline-content">
                    <strong>{{ event.year }}:</strong> {{ event.description }}
                </div>
            </div>
        </div>
    </nz-card>

    <nz-card class="card-texto">
        <h2 class="custom-title">Nuestro trabajo fomenta</h2>
        <hr>
        <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicadores -->
                <div class="carousel-indicators">
                    <button *ngFor="let slide of slides; let i = index" type="button"
                        data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                        aria-current="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)">
                    </button>
                </div>
                <!-- Slides -->
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
                        <img [src]="slide.image" class="d-block w-100" alt="Imagen del carrusel" />
                        <div class="carousel-caption d-block d-md-block">
                            <h5>{{ slide.text }}</h5>
                        </div>
                    </div>
                </div>
                <!-- Controles -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </nz-card>

    <nz-card class="card-texto" [nzBordered]="true">
        <h2 class="custom-title">Así nos organizamos </h2>
        <hr>
        <div class="directory-container">
            <div class="column left">
                <div class="card" *ngFor="let member of membersLeft">
                    <div class="icon">
                        <i nz-icon [nzType]="member.icon" [nzTheme]="'outline'"></i>
                    </div>
                    <p>{{ member.role }}</p>
                </div>
            </div>
            <div class="center">
                <img src="https://i.postimg.cc/QxZFBQfg/coopsisa-Logo-removebg-preview.png" alt="Logo Coopsisa"
                    class="logo" />
            </div>

            <div class="column right">
                <div class="card" *ngFor="let member of membersRight">
                    <div class="card-content">
                        <p class="text">{{ member.role }}</p>
                        <div class="icon">
                            <i nz-icon [nzType]="member.icon" [nzTheme]="'outline'"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>
</div>
<div class="quienes-somos">
    <nz-card [nzBordered]="true">
        <h2 class="custom-title">Nuestros Socios</h2>
        <hr>
        <div class="equipo">
            <div nz-row [nzGutter]="16" nzJustify="center" class="tarjetas-scroll">
                <div nz-col *ngFor="let miembro of equipo" [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                    <div class="equipo-card">
                        <div class="foto-container">
                            <img [src]="miembro.foto" alt="{{ miembro.nombre }}" class="foto-circular" />
                        </div>
                        <div class="info-container">
                            <h3>{{ miembro.nombre }}</h3>
                            <p>{{ miembro.cargo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>
</div>

<div class="transparencia-resultados">
    <nz-card [nzBordered]="true">
        <h2 class="custom-title">Líneas de Acción y Resultados</h2>
        <hr>
        <nz-collapse class="hover-effect hover-1">
            <h4 class="section-title">Asistencia Técnica</h4>
            <p class="section-description">Brindamos apoyo especializado para mejorar sus procesos productivos, administrativos y comerciales, promoviendo prácticas sostenibles y eficientes.</p>
            
        </nz-collapse>
        <br>
        <nz-collapse class="hover-effect hover-2"> 
            <h4 class="section-title">Fortalecimiento de Capacidades </h4>
            <p class="section-description">Desarrollamos programas de formación y capacitación para potenciar habilidades técnicas, organizativas y de liderazgo, fomentando la autonomía y el crecimiento sostenible.</p>
            
        </nz-collapse>
        <br>
        <nz-collapse class="hover-effect hover-3">
            <h4 class="section-title">Acceso a Financiamiento</h4>
            <p class="section-description">Identificación de oportunidades de financiamiento, el desarrollo de propuestas de proyectos y la gestión de consultorías especializadas para facilitar el acceso a recursos económicos.</p>
            
        </nz-collapse>
        <nz-collapse class="hover-effect hover-4">
            <h4 class="section-title">Gestión del Conocimiento</h4>
            <p class="section-description">Promovemos la investigación, el intercambio de experiencias y la sistematización de buenas prácticas para generar aprendizajes colectivos y fortalecer la toma de decisiones estratégicas.</p>
            
        </nz-collapse>
        <nz-collapse class="hover-effect hover-5">
            <h4 class="section-title">Nuestro Aporte al Desarrollo</h4>
            <p class="section-description">Los resultados obtenidos reflejan el impacto positivo de nuestras estrategias en el fortalecimiento de la comunidad y el desarrollo sostenible. Estos avances han contribuido a la consolidación de un modelo cooperativo más sólido, equitativo y sostenible.</p>
            <!-- <nz-collapse-panel nzHeader="Reporte financiero 2024" [nzActive]="false" class="custom-collapse-panel">
                <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
                    src="https://heyzine.com/flip-book/b0c3dffbc9.html"
                    style="border: 1px solid lightgray; width: 100%; height: 550px;">
                </iframe>
            </nz-collapse-panel> -->
        </nz-collapse>
    </nz-card>
</div>
