.quienes-somos {
    padding: 20px;
}

/* Estilos para las tarjetas */
.card-texto {
    margin-bottom: 16px;
    font-size: 20px;
    border-radius: 8px;
}


/* Párrafos dentro de las tarjetas */
.nz-card-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 16px;
}

/* Contenedor general de la línea de tiempo */
.timeline-container {
    overflow-x: scroll;
    /* Habilitar scroll horizontal */
    white-space: nowrap;
    /* Asegurar que los elementos no se rompan a la siguiente línea */
    padding: 20px 0;
    display: flex;
    /* Usar flex para permitir alineación horizontal */
    scrollbar-width: none;
}


/* Elementos de la línea de tiempo */
.timeline-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 200px;
    /* Fijar un ancho consistente */
    white-space: normal;
    /* Permitir que el texto haga wrap */
    margin-right: 50px;
    /* Espacio entre elementos */
}

.timeline-item::after {
    content: '';
    position: absolute;
    height: 2px;
    /* Línea horizontal */
    width: 100%;
    background: linear-gradient(90deg,
            rgba(166, 58, 141, 1) 0%,
            /* Púrpura */
            rgba(166, 58, 141, 0.8) 25%,
            rgba(57, 148, 199, 1) 50%,
            /* Azul */
            rgba(57, 148, 199, 0.8) 75%,
            rgba(98, 180, 178, 1) 100%
            /* Verde */
        );
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    animation: gradient-move 5s linear infinite;
    /* Agrega una animación opcional */
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.timeline-item:last-child::after {
    display: none;
    /* Ocultar la línea en el último ítem */
}

/* Contenido de los ítems de la línea de tiempo */
.timeline-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 200px;
    /* Fijar un ancho para el contenido */
    height: 200px;
    /* Fijar una altura para el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

/* Estilo de los años y descripción */
.timeline-item strong {
    font-size: 18px;
    margin-bottom: 5px;
    color: #F49E59;
}

/* Efecto hover para el contenido de la línea de tiempo */
.timeline-content:hover {
    transform: scale(1.05);
    /* Ligero aumento para resaltar */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #F49E59;
}

/* Alternar colores de hover para cada tarjeta usando nth-of-type */
.timeline-item:nth-of-type(1):hover .timeline-content {
    background-color: #F49E59;
    /* Color primary */
    color: #fff;
}

.timeline-item:nth-of-type(2):hover .timeline-content {
    background-color: #E9336F;
    /* Color secondary */
    color: #fff;
}

.timeline-item:nth-of-type(3):hover .timeline-content {
    background-color: #A63A8D;
    /* Color tertiary */
    color: #fff;
}

.timeline-item:nth-of-type(4):hover .timeline-content {
    background-color: #7969A8;
    /* Color quaternary */
    color: #fff;
}

.timeline-item:nth-of-type(5):hover .timeline-content {
    background-color: #3994C7;
    /* Color primary-light */
    color: #fff;
}

.timeline-item:nth-of-type(6):hover .timeline-content {
    background-color: #62B4B2;
    /* Color accent */
    color: #fff;
}

.timeline-item:nth-of-type(7):hover .timeline-content {
    background-color: #C5BB63;
    /* Color highlight */
    color: #fff;
}

.timeline-item:nth-of-type(8):hover .timeline-content {
    background-color: #EF625F;
    /* Color alert */
    color: #fff;
}

/* Si hay más de 8 elementos, repetir el patrón */
.timeline-item:nth-of-type(9):hover .timeline-content {
    background-color: #F49E59;
    color: #fff;
}


/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {

    .nz-card-title {
        font-size: 20px;
        /* Título más pequeño en pantallas pequeñas */
    }

    .timeline-content {
        width: 180px;
        /* Reducir ancho en pantallas pequeñas */
        height: 240px;
        /* Reducir altura en pantallas pequeñas */
        font-size: 14px;
        /* Texto más pequeño para ajustar en pantallas pequeñas */
    }
}

/* ************* Organización  ************* */

.directory-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    width: 240px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    text-align: justify;
}

.card-content {
    display: flex;
    justify-content: space-between; /* Espacia el texto y el ícono */
    align-items: center; /* Alinea verticalmente al centro */
    padding: 8px;
}

.text {
    margin: 0; /* Elimina márgenes extra del texto */
    flex: 1; /* Asegura que el texto ocupe el espacio restante */
    text-align: left; /* Alinea el texto a la izquierda */
}

.icon {
    margin-left: 8px; /* Opcional: Espaciado entre el texto y el ícono */
}

.card:hover {
    transform: translateY(-5px);
}

.card .icon i {
    font-size: 40px;
    color: #7969A8;
    /* Cambia este color según el diseño */
}
.card .icon i:hover {
    color: white !important;
}

.center {
    text-align: center;
}
.logo {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    max-width: 400px; /* Limita el tamaño máximo de la imagen */
    margin-bottom: 1rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .directory-container {
        flex-direction: column;
        gap: 1rem; /* Reduce el espacio entre las tarjetas y la imagen */
        padding: 1rem;
    }

    .column {
        align-items: center; /* Centra las tarjetas en pantallas pequeñas */
    }

    .card {
        width: 90%; /* Reduce el ancho de las tarjetas */
        margin: 0 auto; /* Centra las tarjetas */
    }

    .logo {
        width: 80%; /* Ajusta el tamaño de la imagen */
        max-width: 150px; /* Limita el tamaño máximo */
    }
}

/* Media Queries para pantallas muy pequeñas (por ejemplo, móviles) */
@media (max-width: 480px) {
    .directory-container {
        gap: 0.5rem; /* Reduce aún más el espacio entre los elementos */
    }

    .card {
        width: 100%; /* Las tarjetas ocupan todo el ancho disponible */
    }

    .logo {
        width: 70%; /* Ajusta aún más el tamaño de la imagen */
        max-width: 120px; /* Limita el tamaño máximo */
    }
}

/* Estilo de la columna central */
.center {
    position: relative;
    z-index: 1; /* Asegura que la imagen esté encima de la línea */
}

/* Estilo hover para las tarjetas usando nth-of-type */
.card:nth-of-type(1):hover {
    background-color: #F49E59; /* Color primary */
    color: #fff;
}

.card:nth-of-type(2):hover {
    background-color: #E9336F; /* Color secondary */
    color: #fff;
}

.card:nth-of-type(3):hover {
    background-color: #A63A8D; /* Color tertiary */
    color: #fff;
}

.card:nth-of-type(4):hover {
    background-color: #7969A8; /* Color quaternary */
    color: #fff;
}

.card:nth-of-type(5):hover {
    background-color: #3994C7; /* Color primary-light */
    color: #fff;
}

.card:nth-of-type(6):hover {
    background-color: #62B4B2; /* Color accent */
    color: #fff;
}

.card:nth-of-type(7):hover {
    background-color: #C5BB63; /* Color highlight */
    color: #fff;
}

.card:nth-of-type(8):hover {
    background-color: #EF625F; /* Color alert */
    color: #fff;
}

/* Si hay más de 8 elementos, repetir el patrón */
.card:nth-of-type(9):hover {
    background-color: #F49E59;
    color: #fff;
}



/******* Equipo  ********/

.equipo {
    padding: 10px 25px;
    text-align: center;
    max-height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
}

.equipo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* Permite que el contenido determine la altura */
    background: none;
    /* Sin fondo */
    box-shadow: none;
    /* Sin sombra */
    border: none;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.foto-circular {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-circular:hover {
    transform: scale(1.1);
    /* Agrandar ligeramente la imagen */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
}

.info-container {
    transition: color 0.3s ease;
}

.info-container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
}

.info-container p {
    font-size: 14px;
    color: #666;
    margin: 0;
    padding: 0;
}

.info-container p:hover,
.info-container h3:hover {
    color: white
}

.info-container:hover {
    transition: color 0.3s ease;
    background: #3993c79a;
    padding: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .equipo {
        padding: 10px 1px;
        text-align: center;
        max-height: 400px;
        overflow-y: auto;
    }

    .foto-circular {
        width: 150px;
        height: 150px;
    }

    .info-container h3 {
        font-size: 16px;
    }

    .info-container p {
        font-size: 12px;
    }

    .foto-container {
        padding: 5px;
    }
}

/* ******* Transparencia y Resultados  ******** */
.transparencia-resultados {
    padding: 20px;
    font-size: 24px;
    background-color: #f9f9f9;
    /* Fondo claro */
}

.nz-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    border-radius: 8px;
}

.nz-list-item-meta-description {
    font-size: 24px;
    color: #666;
}

.nz-list-item:hover {
    background-color: #f0f0f0;
    /* Fondo al pasar el ratón */
    transition: background-color 0.3s ease;
}