<div class="container-fluid py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" >
        <h1 class="display-5 mb-5">Nuestro Ecosistema</h1>
    </div>
    <div class="d-flex flex-row overflow-auto">
        <div *ngFor="let item of items" class="me-3" style="flex: 0 0 auto;" (click)="openModal(item)">
            <nz-card nzHoverable style="width: 200px" [nzCover]="coverTemplate">
                <nz-card-meta ></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
                <img [alt]="item.title" [src]="item.image" />
            </ng-template>
        </div>
    </div>
</div>

<!-- <div class="container-fluid py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-5 mb-5">Publicaciones</h1>
        <p style="font-size: 19px;">Aquí encontrarás una selección de nuestras publicaciones</p>
    </div>
    <div class="scrollable-container">
        <nz-row [nzGutter]="16">
            <nz-col *ngFor="let item of downloadItems" [nzSpan]="24" [nzXs]="24" [nzSm]="24" [nzMd]="8">
                <div class="download-card" [style.backgroundImage]="'url(' + item.imageUrl + ')'">
                    <nz-card [nzBordered]="false" [nzHoverable]="true">
                        <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.description"></nz-card-meta>
                        <div class="card-actions">
                            <button *ngIf="item.fileUrl" nz-button (click)="downloadFile(item.fileUrl)">
                                Descargar
                            </button>
                        </div>
                    </nz-card>
                </div>
            </nz-col>
        </nz-row>
    </div>
</div> -->

