.dynamic-card {
    max-width: 900px;
    /* Limita el ancho del contenido */
    margin: auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra elegante */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transiciones suaves */
    margin-bottom: 20px;
}

.dynamic-card:hover {
    transform: translateY(-5px);
    /* Efecto de elevación */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dynamic-text {
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto */
    line-height: 1.6;
    /* Mejora la legibilidad */
    color: #555;
    /* Un color suave para el texto */
    text-align: center;
    /* Centra el texto */
    margin: 0 auto;
    animation: fadeIn 1s ease;
    /* Añade una animación */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ******* Tarjetas Lab ******* */

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    /* Asegura que la tarjeta ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Centrar todo el contenido dentro de las columnas */
.row {
    justify-content: center;
    /* Centra las tarjetas en el grid */
}

.col-lg-4,
.col-md-6 {
    display: flex;
    align-items: stretch;
    /* Estira las tarjetas para mantener una altura uniforme */
}

.card {
    margin: auto;
    /* Centra las tarjetas dentro de sus columnas */
    width: 100%;
    /* Asegura que las tarjetas ocupen el espacio disponible */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: inherit;
}

.card-0:hover {
    background-color: #f49f59ea;
}

.card-1:hover {
    background-color: #E9336F;
}

.card-2:hover {
    background-color: #A63A8D;
}

.card-3:hover {
    background-color: #7969A8;
}

.card-4:hover {
    background-color: #3994C7;
}

.card-5:hover {
    background-color: #62B4B2;
}

.card-6:hover {
    background-color: #C5BB63;
}

.card-7:hover {
    background-color: #EF625F;
}


.card h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.card:hover h5 {
    color: #fff;
}

.card button {
    background-color: #C5BB63;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    margin-top: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

.custom-modal-content {
    padding: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 0 0 15px 15px;
    text-align: justify important;
    /* Asegura la justificación */
}

/****** Colapsed  *******/
nz-collapse-panel {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #d9d9d9;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nz-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

strong {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin: 0;
    text-align: justify;
}

nz-list-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

nz-collapse-panel:hover {
    background-color: #e6f7ff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}


.panel-content {
    position: relative;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
}

.panel-text {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.panel-text p {
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.panel-text strong {
    margin-bottom: 12px;
    font-size: 18px;
    color: #2c3e50;
}

.ant-checkbox-group,
.ant-collapse {
    font-size: 18px;
}

/* Estilos para las tarjetas */
.card-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 20px;
}

.card-container.reverse {
    flex-direction: row-reverse;
}

/* Ajustes para el texto */
.card-texto {
    flex: 1;
    padding: 5px;
    /* Más espacio en el contenido */
    border-radius: 8px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    font-size: 18px;
    font-weight: lighter;
}

/* Ajustes para la imagen */
.card-image {
    flex: 1.2;
    /* La imagen ocupa más espacio */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image img:hover {
    transform: scale(1.1);
    /* Hace la imagen un 10% más grande */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
}

/* Títulos personalizados */
.custom-title {
    font-size: 24px;
    margin-bottom: 5px;
    color: black;
    font-weight: lighter;
}


/* Aplicar colores de hover alternando en cada tarjeta */
.card-item:nth-of-type(1):hover .tarjetas1-content {
    background-color: hsla(27, 88%, 65%, 0.555);
    font-size: 18px;
}

.card-item:nth-of-type(2):hover .tarjetas1-content {
    background-color: #e93370a7;
    font-size: 18px;
}

.card-item:nth-of-type(3):hover .tarjetas1-content {
    background-color: #a63a8d94;
    font-size: 18px;
}

.card-item:nth-of-type(4):hover .tarjetas1-content {
    background-color: #7969a894;
    font-size: 18px;
}

.card-item:nth-of-type(5):hover .tarjetas1-content {
    background-color: #3993c781;
    font-size: 18px;
}

.card-item:nth-of-type(6):hover .tarjetas1-content {
    background-color: #62b4b395;
    font-size: 18px;
}

.card-item:nth-of-type(7):hover .tarjetas1-content {
    background-color: #c5bb6397;
    font-size: 18px;
}

.card-item:nth-of-type(8):hover .tarjetas1-content {
    background-color: #ef615f98;
    font-size: 18px;
}

/* Si hay más de 8 elementos, repetir el patrón */
.card-item:nth-of-type(9):hover .tarjetas1-content {
    background-color: #f49f599c;
    font-size: 18px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        text-align: center;
    }

    .card-item:nth-of-type(1) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(2) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(3) .tarjetas1-content {
        width: 100%;
    }

    .card-item:nth-of-type(4) .tarjetas1-content {
        width: 100%;
    }

    .card-container.reverse {
        flex-direction: column;
    }

    .card-texto {
        width: 100%;
        /* Ocupar todo el ancho */
        padding: 20px;
    }

    .card-image {
        width: 100%;
        justify-content: center;
    }

    .card-image img {
        max-width: 100%;
        /* Imagen ocupa todo el ancho disponible */
        width: 100%;
    }
}

/******* Estilo general del carrusel ******/
.carousel-item img {
    max-height: 550px;
    /* Reducimos el tamaño del slider */
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.03);
    /* Zoom más sutil */
}

/* Fondo degradado más oscuro para mejor legibilidad */
.carousel-caption {
    background: linear-gradient(to bottom, rgba(121, 105, 168, 0.957), rgba(0, 0, 0, 0.3));
    padding: 1.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 70%;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 1.5rem;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Texto del caption más grande y llamativo */
/* Personalización de los indicadores */
.carousel-indicators {
    position: absolute;
    bottom: -25px;
    /* Bajamos un poco los indicadores */
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espaciado entre los indicadores */
}

/* Estilo de cada botón indicador */
.carousel-indicators button {
    width: 40px;
    /* Hacemos los indicadores más alargados */
    height: 8px;
    /* Grosor de los indicadores */
    background-color: rgba(255, 255, 255, 0.5);
    /* Color semi-transparente */
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Cuando el indicador está activo */
.carousel-indicators .active {
    background-color: #7969A8;
    /* Color destacado */
    width: 50px;
    /* Indicador activo más grande */
    height: 10px;
    box-shadow: 0px 0px 10px rgba(121, 105, 168, 0.957);
}

/* Efecto hover */
.carousel-indicators button:hover {
    background-color: #fff;
    transform: scale(1.2);
}

/* Responsividad */
@media (max-width: 768px) {
    .carousel-indicators button {
        width: 30px;
        height: 6px;
    }

    .carousel-indicators .active {
        width: 35px;
        height: 8px;
    }
}
