.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo a la izquierda */
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5%;
}

.logo {
    width: 160px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Botón de idioma a la derecha */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5%;
}

.language-button {
    background-color:  #EF625F;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.language-button:hover {
    background-color: #F49E59;
}

ul[nz-menu] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

ul[nz-menu][hidden] {
    display: none; /* Ocultar menú cuando está colapsado */
}

nz-icon {
    margin-right: 8px;
    color: #EF625F;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #EF625F;
}

/* Estilos responsivos */
.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 16px;
}

/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        padding: 8px 16px;
        justify-content: space-between;
    }

    ul[nz-menu] {
        position: absolute;
        top: 50px; /* Ajusta la posición del menú debajo de la barra */
        left: 0;
        background: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        width: 100%;
        z-index: 1000;
        max-height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .hamburger-icon {
        display: inline-block;
        cursor: pointer;
    }

    /* Ocultar el logo en pantallas pequeñas */
    .navbar-left {
        display: flex;
    }

    /* Opcional: Ocultar el botón de idioma en pantallas pequeñas */
    .navbar-right {
        display: flex;
    }
}

@media (min-width: 769px) {
    /* Mostrar el logo y el botón en pantallas grandes */
    .navbar-left {
        display: flex;
    }

    .navbar-right {
        display: flex;
    }
}