.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid transparent; /* Define el grosor del borde */
    background-clip: padding-box; /* Evita que el fondo afecte al borde */
    border-image: linear-gradient(to right, 
        #A63A8D 25%,  /* Púrpura hasta el 25% */
        #3994C7 25%, #3994C7 50%,  /* Azul del 25% al 50% */
        #62B4B2 50% /* Verde del 50% al 100% */
    ) 1;
}

.active-link {
    font-weight: bold;
    border-radius: 5px;
}

/* Logo a la izquierda */
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5%;
}

.logo {
    width: 160px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Botón de idioma a la derecha */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5%;
}

.language-button {
    background-color:  #EF625F;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.language-button:hover {
    background-color: #F49E59;
}

ul[nz-menu] {
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

ul[nz-menu][hidden] {
    display: none; /* Ocultar menú cuando está colapsado */
}

nz-icon {
    margin-right: 8px;
    color: #EF625F;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #EF625F;
    transition: color 0.3s ease;
    transition: text-decoration 0.3s ease;
    transition: background-color 0.3s ease;
}

/* Estilos responsivos */
.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 16px;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        padding: 8px 16px;
        justify-content: space-between;
    }

    ul[nz-menu] {
        position: absolute;
        top: 114px; /* Ajusta la posición del menú debajo de la barra */
        left: 0;
        background-color: #fffffff6;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        width: 100%;
        z-index: 1000;
        max-height: calc(100vh - 50px);
        overflow-y: auto;
        border-radius: 2px;
    }

    .hamburger-icon {
        display: inline-block;
        cursor: pointer;
    }

    /* Ocultar el logo en pantallas pequeñas */
    .navbar-left {
        display: flex;
    }

    /* Opcional: Ocultar el botón de idioma en pantallas pequeñas */
    .navbar-right {
        display: flex;
    }
}

@media (min-width: 769px) {
    /* Mostrar el logo y el botón en pantallas grandes */
    .navbar-left {
        display: flex;
    }

    .navbar-right {
        display: flex;
    }
}