<div class="contact-container" style="margin-top: 130px;">
    <!-- Ubicación en Google Maps -->
    <div id="map" style="height: 400px; width: 100%;">
        <div class="maps-section">
            <h2>Ubicación</h2>
            <google-map height="300px" width="100%" [center]="center" [zoom]="15">
            </google-map>
        </div>
    </div>

    <!-- Redes sociales -->
    <div class="social-section">
        <h2>Redes Sociales</h2>
        <div class="social-icons">
            <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.x.com" target="_blank" class="social-icon">
                <img src="https://i.postimg.cc/DzSxCNJG/X.png" alt="X logo">
            </a>
        </div>
    </div>
    <!-- Formulario de consultas -->
    <div class="form-section">
        <nz-card [nzBordered]="false" [nzCover]="coverTemplate">
            <ng-template #coverTemplate>
                <div class="cover-container">
                    <img alt="cover image" src="https://i.postimg.cc/rFCrGpKR/coopsisa-Logo.png" class="cover-image" />
                </div>
            </ng-template>
            <h2>Déjanos tu consulta</h2>
            <form nz-form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="name">Nombre</nz-form-label>
                    <nz-form-control [nzSpan]="18" [nzErrorTip]="nameErrorTpl">
                        <nz-input-group [nzPrefixIcon]="'user'">
                            <input nz-input formControlName="name" id="name" placeholder="Ingresa tu nombre" />
                        </nz-input-group>
                    </nz-form-control>
                    <ng-template #nameErrorTpl>
                        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
                            <p>El nombre es obligatorio.</p>
                        </div>
                    </ng-template>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">Correo</nz-form-label>
                    <nz-form-control [nzSpan]="18" [nzErrorTip]="emailErrorTpl">
                        <nz-input-group [nzPrefixIcon]="'mail'">
                            <input nz-input formControlName="email" id="email" placeholder="Ingresa tu correo" />
                        </nz-input-group>
                    </nz-form-control>
                    <ng-template #emailErrorTpl>
                        <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                            <p>El email es obligatorio.</p>
                        </div>
                    </ng-template>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="message">Mensaje</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <textarea nz-input formControlName="message" id="message"
                            placeholder="Escribe tu mensaje"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button nzType="primary" [disabled]="contactForm.invalid">Enviar</button>
            </form>
        </nz-card>
    </div>
</div>